version: '3.9'

services:
  db:
    image: postgres:16
    container_name: speak4all_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: taco
      POSTGRES_DB: speak4all
    ports:
      - "5432:5432"
    volumes:
      - speak4all_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  speak4all_data:
